<div>
    <img src='../pics/banner.PNG'/>
</div>
<div>
    <img width="10%" height="10%" src='../pics/python-programming.png'/>
    <img src='../pics/miw.PNG'/>
</div>
<div>
    <em>Author: Jeroen Boogaard</em>
</div>

<h1>Practicum SQL </h1>

<h2>Imports<h2>

In [100]:
from os import system as sys
sys('pip install pysqlite3 --upgrade pip')

Requirement already satisfied: pysqlite3 in /home/pans/miniconda3/envs/miw/lib/python3.10/site-packages (0.5.0)
Requirement already satisfied: pip in /home/pans/miniconda3/envs/miw/lib/python3.10/site-packages (23.0.1)

0

In [101]:
from matplotlib import pyplot as plt
from matplotlib_venn import venn2, venn3
from PIL import Image
import pandas as pd
import sqlite3

<h2>Extract, Transform and Load</h2>

<h3>Extract</h3>

In [145]:
# https://raw.githubusercontent.com/ajturner/acetate/master/places/Countries-Europe.csv
csvFile = "../csv/countries_europe.csv"
euCsvFile = "../csv/european_union.csv"

 # Create Pandas DataFrames
europeDF = pd.read_csv(csvFile)
euDF = pd.read_csv(euCsvFile)
#print(europeDF)
#print(euDF)

<h3>Transform</h3>

<h3>Exercise 1</h3>
<h4>Gegeven</h4>

In [146]:
benelux = {"Belgium", "Netherlands", "Luxembourg"}
nordics = {"Denmark", "Finland", "Iceland", "Norway"}
baltics = {"Estonia", "Latvia", "Lithuania"}

In [104]:
for i in benelux:
    print(i)

Luxembourg
Belgium
Netherlands

<h4>Gevraagd</h4>
<ol>
    <li>Voeg de kolom <u>group</u> toe aan de dataset <u>europeDF</u> met daarin de groep waartoe een land behoort volgens bovenstaande sets</li>
    <li>Ga na of er nog meer landengroepen zijn binnen Europa en voeg die ook toe</li>
    <li>Sla deze verrijkte dataset op in een nieuw CSV bestand</li>
</ol>

<h4>Oplossing</h4>

In [147]:
# Oplossing

europeDF['groups'] = '' 

# NB group is een commandoi in sql dus maak er groups van

In [106]:
europeDF.columns

Index(['zoom', 'name', 'abbreviation', 'Code', 'ISO numeric', 'land area km',
       'population', 'latitude', 'longitude', 'continent', 'group'],
      dtype='object')

In [148]:
    
# df.loc[df[<some_column_name>] == <condition>, [<another_column_name>]] = <value_to_add>
# europeDF.loc[europeDF['name'] == 'Belgium', ['group']] = 'benelux'

for i in benelux:
    europeDF.loc[europeDF['name'] == i, ['groups']] = 'benelux'
    
for i in nordics:
    europeDF.loc[europeDF['name'] == i, ['groups']] = 'nordics'
    
for i in baltics:
    europeDF.loc[europeDF['name'] == i, ['groups']] = 'baltics'

In [122]:
# poging om drie loops in 1 dubbele loop om te zetten:
if cSet in [benelux, nordics, baltics]:
    for i in x:
        print(type(i))
        europeDF.loc[europeDF['name'] == i, ['group']] = cSet

In [108]:
# list comprehension kan ook als je er eerst een list van maakt.

{'Iceland', 'Belgium', 'Norway', 'Netherlands', 'Latvia', 'Denmark', 'Finland', 'Luxembourg', 'Lithuania', 'Estonia'}

In [1]:
# alternatief: een functie maken en dan 3 x aanroepen met telkens een andere set

In [1]:
# alternatief: oplossing van Jeroen

Goedemorgen Hans, n.a.v. jouw vraag gisteren over een efficientere for-loop voor het toevoegen van groups, hierbij mijn uitwerking:
 

# Maak een Dictionary van groups
groupsDict = { "benelux": benelux, "nordics": nordics, "baltics": baltics }
print(groupsDict)

 

# Maak een lijst met lege Strings
nrOfCountries = len(europeDF)
groupsList = nrOfCountries * [""]

 

# Ga voor alle landen uit europeDF na of ze onderdeel zijn van 1 van de groepen uit groupsDict
for i, country in enumerate(europeDF["name"]):
    
    for group, countries in groupsDict.items():
    
        if country in countries:
            groupsList[i] = group
        
print(groupsList)
        
# Voeg de kolom groups toe aan Dataframe europeDF 
europeDF.insert(loc=0, column='groups', value=groupsList)
print(europeDF)

In [2]:
europeDF

NameError: name 'europeDF' is not defined

<h3>Load</h3>

<p>Maak een lege database</p>

In [150]:
sys('sqlite3 ../db/europe.db "VACUUM;"')

0

In [151]:
# Connect to SQLite database
dbConnection = sqlite3.connect('../db/europe.db')

<p>Maak tabellen o.b.v. de dataset</p>

In [152]:
europeDF.to_sql('countries', dbConnection, if_exists='replace', index = False)
euDF.to_sql('eu', dbConnection, if_exists='replace', index = False)

27

In [153]:
dbCursor = dbConnection.cursor()

query = """
    SELECT *
    FROM countries
    INNER JOIN eu
    ON countries.Code = eu.Code
"""

result = dbCursor.execute(query).fetchall()
print(result)
print(type(result))

[(3, 'France', 'Fr.', 'FRA', 250, 547030.0, 64768389, 46.0, 2.0, 'eu', '', 'FRA', 'France', '1958-01-01'), (3, 'Spain', 'Spain', 'ESP', 724, 504782.0, 46505963, 40.0, -4.0, 'eu', '', 'ESP', 'Spain', '1986-01-01'), (3, 'Sweden', 'Swe.', 'SWE', 752, 449964.0, 9045000, 62.0, 15.0, 'eu', '', 'SWE', 'Sweden', '1995-01-01'), (3, 'Germany', 'Ger.', 'DEU', 276, 357021.0, 82369000, 51.5, 10.5, 'eu', '', 'DEU', 'Germany', '1958-01-01'), (3, 'Finland', 'Fin.', 'FIN', 246, 337030.0, 5244000, 64.0, 26.0, 'eu', 'nordics', 'FIN', 'Finland', '1995-01-01'), (3, 'Poland', 'Pol.', 'POL', 616, 312685.0, 38500000, 52.0, 20.0, 'eu', '', 'POL', 'Poland', '2004-05-01'), (3, 'Italy', 'Italy', 'ITA', 380, 301230.0, 58145000, 42.83, 12.83, 'eu', '', 'ITA', 'Italy', '1958-01-01'), (3, 'Romania', 'Rom.', 'ROU', 642, 237500.0, 21959278, 46.0, 25.0, 'eu', '', 'ROU', 'Romania', '2007-01-01'), (3, 'Greece', 'Grc.', 'GRC', 300, 131940.0, 11000000, 39.0, 22.0, 'eu', '', 'GRC', 'Greece', '1981-01-01'), (3, 'Bulgaria', 'Blg.', 'BGR', 100, 110910.0, 7148785, 43.0, 25.0, 'eu', '', 'BGR', 'Bulgaria', '2007-01-01'), (3, 'Portugal', 'Port.', 'PRT', 620, 92391.0, 10676000, 39.5, -8.0, 'eu', '', 'PRT', 'Portugal', '1986-01-01'), (3, 'Czech Republic', 'Czech Rep.', 'CZE', 203, 78866.0, 10476000, 49.75, 15.0, 'eu', '', 'CZE', 'Czechia', '2004-05-01'), (3, 'Denmark', 'Den.', 'DNK', 208, 43094.0, 5484000, 56.0, 10.0, 'eu', 'nordics', 'DNK', 'Denmark', '1973-01-01'), (4, 'Hungary', 'Hung.', 'HUN', 348, 93030.0, 9930000, 47.0, 20.0, 'eu', '', 'HUN', 'Hungary', '2004-05-01'), (4, 'Austria', 'Aus.', 'AUT', 40, 83858.0, 8205000, 47.33, 13.33, 'eu', '', 'AUT', 'Austria', '1995-01-01'), (4, 'Ireland', 'Ire.', 'IRL', 372, 70280.0, 4622917, 53.0, -8.0, 'eu', '', 'IRL', 'Ireland', '1973-01-01'), (4, 'Lithuania', 'Lith.', 'LTU', 440, 65200.0, 3565000, 56.0, 24.0, 'eu', 'baltics', 'LTU', 'Lithuania', '2004-05-01'), (4, 'Latvia', 'Lat.', 'LVA', 428, 64589.0, 2217969, 57.0, 25.0, 'eu', 'baltics', 'LVA', 'Latvia', '2004-05-01'), (4, 'Croatia', 'Cro.', 'HRV', 191, 56542.0, 4491000, 45.17, 15.5, 'eu', '', 'HRV', 'Croatia', '2013-07-01'), (4, 'Slovakia', 'Slvk.', 'SVK', 703, 48845.0, 5455000, 48.67, 19.5, 'eu', '', 'SVK', 'Slovakia', '2004-05-01'), (4, 'Estonia', 'Est.', 'EST', 233, 45226.0, 1291170, 59.0, 26.0, 'eu', 'baltics', 'EST', 'Estonia', '2004-05-01'), (4, 'Netherlands', 'Neth.', 'NLD', 528, 41526.0, 16645000, 52.5, 5.75, 'eu', 'benelux', 'NLD', 'Netherlands', '1958-01-01'), (4, 'Belgium', 'Bel.', 'BEL', 56, 30510.0, 10403000, 50.83, 4.0, 'eu', 'benelux', 'BEL', 'Belgium', '1958-01-01'), (4, 'Slovenia', 'Slvn.', 'SVN', 705, 20273.0, 2007000, 46.25, 15.17, 'eu', '', 'SVN', 'Slovenia', '2004-05-01'), (4, 'Cyprus', 'Cyp.', 'CYP', 196, 9250.0, 1102677, 35.0, 33.0, 'asia', '', 'CYP', 'Cyprus', '2004-05-01'), (4, 'Luxembourg', 'Lux.', 'LUX', 442, 2586.0, 497538, 49.75, 6.17, 'eu', 'benelux', 'LUX', 'Luxembourg', '1958-01-01'), (4, 'Malta', 'Malta', 'MLT', 470, 316.0, 403000, 35.92, 14.43, 'eu', '', 'MLT', 'Malta', '2004-05-01')]
<class 'list'>

In [154]:
query = """
    SELECT Code
    FROM countries
"""

result = dbCursor.execute(query).fetchall()
print(result)
print(type(result))

[('UKR',), ('FRA',), ('ESP',), ('SWE',), ('DEU',), ('FIN',), ('NOR',), ('POL',), ('ITA',), ('GBR',), ('ROU',), ('BLR',), ('GRC',), ('BGR',), ('ISL',), ('PRT',), ('CZE',), ('DNK',), ('HUN',), ('SRB',), ('AUT',), ('IRL',), ('LTU',), ('LVA',), ('HRV',), ('BIH',), ('SVK',), ('EST',), ('NLD',), ('CHE',), ('MDA',), ('BEL',), ('ALB',), ('MKD',), ('SVN',), ('MNE',), ('CYP',), ('LUX',), ('FRO',), ('AND',), ('MLT',), ('LIE',), ('GGY',), ('SMR',), ('GIB',), ('MCO',), ('VAT',)]
<class 'list'>

<h3>Exercise 2</h3>
<p>
    Gebruik SQL queries voor het verkrijgen van
<ol>
    <li>het aantal landen dat onderdeel is van de Nordics</li>
    <li>het aantal Europese landen dat lid is van de Europese Unie</li>
    <li>het aantal EU-landen dat deel uitmaakt van de Nordics</li>
</ol>
</p>

In [161]:
# 1

query = """
    SELECT name, groups
    FROM countries
    WHERE groups = 'nordics'
"""

result = dbCursor.execute(query).fetchall()
print(result)
print(len(result))

[('Finland', 'nordics'), ('Norway', 'nordics'), ('Iceland', 'nordics'), ('Denmark', 'nordics')]
4

In [176]:
# 2

query = """
    SELECT name
    FROM eu
    
"""

result = dbCursor.execute(query).fetchall()
print(result)
print(len(result))

query = """
    SELECT name
    FROM countries
    
"""

result = dbCursor.execute(query).fetchall()
print(result)
print(len(result))

query = """
    SELECT countries.name
    FROM countries
    INNER JOIN eu
    ON countries.Code = eu.Code
"""

result = dbCursor.execute(query).fetchall()
print(result)
print(len(result))

query = """
    SELECT countries.name
    FROM countries
    INNER JOIN eu
    ON countries.name = eu.Name
"""

result = dbCursor.execute(query).fetchall()
print(result)
print(len(result))

# een join op Name geeft een ander resultaat dan een join op Code !!!

[('Austria',), ('Belgium',), ('Bulgaria',), ('Croatia',), ('Cyprus',), ('Czechia',), ('Denmark',), ('Estonia',), ('Finland',), ('France',), ('Germany',), ('Greece',), ('Hungary',), ('Ireland',), ('Italy',), ('Latvia',), ('Lithuania',), ('Luxembourg',), ('Malta',), ('Netherlands',), ('Poland',), ('Portugal',), ('Romania',), ('Slovakia',), ('Slovenia',), ('Spain',), ('Sweden',)]
27
[('Ukraine',), ('France',), ('Spain',), ('Sweden',), ('Germany',), ('Finland',), ('Norway',), ('Poland',), ('Italy',), ('United Kingdom',), ('Romania',), ('Belarus',), ('Greece',), ('Bulgaria',), ('Iceland',), ('Portugal',), ('Czech Republic',), ('Denmark',), ('Hungary',), ('Serbia',), ('Austria',), ('Ireland',), ('Lithuania',), ('Latvia',), ('Croatia',), ('Bosnia and Herzegovina',), ('Slovakia',), ('Estonia',), ('Netherlands',), ('Switzerland',), ('Moldova',), ('Belgium',), ('Albania',), ('Macedonia',), ('Slovenia',), ('Montenegro',), ('Cyprus',), ('Luxembourg',), ('Faroe Is.',), ('Andorra',), ('Malta',), ('Liechtenstein',), ('Guernsey',), ('San Marino',), ('Gibraltar',), ('Monaco',), ('Vatican City',)]
47
[('France',), ('Spain',), ('Sweden',), ('Germany',), ('Finland',), ('Poland',), ('Italy',), ('Romania',), ('Greece',), ('Bulgaria',), ('Portugal',), ('Czech Republic',), ('Denmark',), ('Hungary',), ('Austria',), ('Ireland',), ('Lithuania',), ('Latvia',), ('Croatia',), ('Slovakia',), ('Estonia',), ('Netherlands',), ('Belgium',), ('Slovenia',), ('Cyprus',), ('Luxembourg',), ('Malta',)]
27
[('France',), ('Spain',), ('Sweden',), ('Germany',), ('Finland',), ('Poland',), ('Italy',), ('Romania',), ('Greece',), ('Bulgaria',), ('Portugal',), ('Denmark',), ('Hungary',), ('Austria',), ('Ireland',), ('Lithuania',), ('Latvia',), ('Croatia',), ('Slovakia',), ('Estonia',), ('Netherlands',), ('Belgium',), ('Slovenia',), ('Cyprus',), ('Luxembourg',), ('Malta',)]
26

In [178]:
# 3

query = """
   SELECT countries.name
    FROM countries
    INNER JOIN eu
    ON countries.Code = eu.Code
	WHERE countries.groups = 'nordics'
    
"""

result = dbCursor.execute(query).fetchall()
print(result)
print(len(result))

[('Finland',), ('Denmark',)]
2

In [116]:
# Close connection to SQLite database
dbConnection.close()