<div>
    <img src='../pics/banner.PNG'/>
</div>
<div>
    <img width="10%" height="10%" src='../pics/python-programming.png'/>
    <img src='../pics/miw.PNG'/>
</div>
<div>
    <em>Author: Jeroen Boogaard</em>
</div>

<h1>Practicum SQL </h1>

<h2>Imports<h2>

In [1]:
from os import system as sys
sys('pip install pysqlite3 --upgrade pip')

Requirement already satisfied: pysqlite3 in /home/pans/miniconda3/envs/miw/lib/python3.10/site-packages (0.5.0)
Requirement already satisfied: pip in /home/pans/miniconda3/envs/miw/lib/python3.10/site-packages (23.0.1)

0

In [2]:
from matplotlib import pyplot as plt
from matplotlib_venn import venn2, venn3
from PIL import Image
import pandas as pd
import sqlite3

<h2>Extract, Transform and Load</h2>

<h3>Extract</h3>

In [3]:
# https://raw.githubusercontent.com/ajturner/acetate/master/places/Countries-Europe.csv
csvFile = "../csv/countries_europe.csv"
euCsvFile = "../csv/european_union.csv"

 # Create Pandas DataFrames
europeDF = pd.read_csv(csvFile)
euDF = pd.read_csv(euCsvFile)
#print(europeDF)
#print(euDF)

<h3>Transform</h3>

<h3>Exercise 1</h3>
<h4>Gegeven</h4>

In [4]:
benelux = {"Belgium", "Netherlands", "Luxembourg"}
nordics = {"Denmark", "Finland", "Iceland", "Norway"}
baltics = {"Estonia", "Latvia", "Lithuania"}

In [5]:
for i in benelux:
    print(i)

Luxembourg
Netherlands
Belgium

<h4>Gevraagd</h4>
<ol>
    <li>Voeg de kolom <u>groupS</u> toe aan de dataset <u>europeDF</u> met daarin de groep waartoe een land behoort volgens bovenstaande sets</li>
    <li>Ga na of er nog meer landengroepen zijn binnen Europa en voeg die ook toe</li>
    <li>Sla deze verrijkte dataset op in een nieuw CSV bestand</li>
</ol>

<h4>Oplossing</h4>

In [6]:
# Oplossing

europeDF['groups'] = '' 

# NB group is een commandoi in sql dus maak er groups van

In [7]:
europeDF.columns

Index(['zoom', 'name', 'abbreviation', 'Code', 'ISO numeric', 'land area km',
       'population', 'latitude', 'longitude', 'continent', 'groups'],
      dtype='object')

In [8]:
    
# df.loc[df[<some_column_name>] == <condition>, [<another_column_name>]] = <value_to_add>
# europeDF.loc[europeDF['name'] == 'Belgium', ['group']] = 'benelux'

for i in benelux:
    europeDF.loc[europeDF['name'] == i, ['groups']] = 'benelux'
    
for i in nordics:
    europeDF.loc[europeDF['name'] == i, ['groups']] = 'nordics'
    
for i in baltics:
    europeDF.loc[europeDF['name'] == i, ['groups']] = 'baltics'

In [9]:
# poging om drie loops in 1 dubbele loop om te zetten:
if cSet in [benelux, nordics, baltics]:
    for i in x:
        print(type(i))
        europeDF.loc[europeDF['name'] == i, ['group']] = cSet

NameError: name 'cSet' is not defined

In [ ]:
# list comprehension kan ook als je er eerst een list van maakt.

In [ ]:
# alternatief: een functie maken en dan 3 x aanroepen met telkens een andere set

In [ ]:
# alternatief: oplossing van Jeroen

Goedemorgen Hans, n.a.v. jouw vraag gisteren over een efficientere for-loop voor het toevoegen van groups, hierbij mijn uitwerking:
 

# Maak een Dictionary van groups
groupsDict = { "benelux": benelux, "nordics": nordics, "baltics": baltics }
print(groupsDict)

 

# Maak een lijst met lege Strings
nrOfCountries = len(europeDF)
groupsList = nrOfCountries * [""]

 

# Ga voor alle landen uit europeDF na of ze onderdeel zijn van 1 van de groepen uit groupsDict
for i, country in enumerate(europeDF["name"]):
    
    for group, countries in groupsDict.items():
    
        if country in countries:
            groupsList[i] = group
        
print(groupsList)
        
# Voeg de kolom groups toe aan Dataframe europeDF 
europeDF.insert(loc=0, column='groups', value=groupsList)
print(europeDF)

In [ ]:
europeDF

<h3>Load</h3>

<p>Maak een lege database</p>

In [ ]:
sys('sqlite3 ../db/europe.db "VACUUM;"')

In [ ]:
# Connect to SQLite database
dbConnection = sqlite3.connect('../db/europe.db')

<p>Maak tabellen o.b.v. de dataset</p>

In [ ]:
europeDF.to_sql('countries', dbConnection, if_exists='replace', index = False)
euDF.to_sql('eu', dbConnection, if_exists='replace', index = False)

In [ ]:
dbCursor = dbConnection.cursor()

query = """
    SELECT *
    FROM countries
    INNER JOIN eu
    ON countries.Code = eu.Code
"""

result = dbCursor.execute(query).fetchall()
print(result)
print(type(result))

In [ ]:
query = """
    SELECT Code
    FROM countries
"""

result = dbCursor.execute(query).fetchall()
print(result)
print(type(result))

<h3>Exercise 2</h3>
<p>
    Gebruik SQL queries voor het verkrijgen van
<ol>
    <li>het aantal landen dat onderdeel is van de Nordics</li>
    <li>het aantal Europese landen dat lid is van de Europese Unie</li>
    <li>het aantal EU-landen dat deel uitmaakt van de Nordics</li>
</ol>
</p>

In [ ]:
# 1

query = """
    SELECT name, groups
    FROM countries
    WHERE groups = 'nordics'
"""

result = dbCursor.execute(query).fetchall()
print(result)
print(len(result))

In [ ]:
# 2

query = """
    SELECT name
    FROM eu
    
"""

result = dbCursor.execute(query).fetchall()
print(result)
print(len(result))

query = """
    SELECT name
    FROM countries
    
"""

result = dbCursor.execute(query).fetchall()
print(result)
print(len(result))

query = """
    SELECT countries.name
    FROM countries
    INNER JOIN eu
    ON countries.Code = eu.Code
"""

result = dbCursor.execute(query).fetchall()
print(result)
print(len(result))

query = """
    SELECT countries.name
    FROM countries
    INNER JOIN eu
    ON countries.name = eu.Name
"""

result = dbCursor.execute(query).fetchall()
print(result)
print(len(result))

# een join op Name geeft een ander resultaat dan een join op Code !!!

In [ ]:
# 3

query = """
   SELECT countries.name
    FROM countries
    INNER JOIN eu
    ON countries.Code = eu.Code
    WHERE countries.groups = 'nordics'
    
"""

result = dbCursor.execute(query).fetchall()
print(result)
print(len(result))

In [ ]:
# 3 alternatieve oplossing

query = """
   SELECT count(*)

In [ ]:
FROM countries
    WHERE continent = 'eu' AND groups = 'nordics'
    
"""

result = dbCursor.execute(query).fetchall()
print(result)
print(len(result))

In [ ]:
# Close connection to SQLite database
dbConnection.close()